body {
  background-image: url("img/background_02.jpg");
}

.gameTitle {
  color: #f03264;
  background-color: #f3f3f3;
  font-family: impact;
  font-size: 3rem;
}

#spanRow {
  background-color: #f3f3f3;
}

#modsRow {
  background-color: #b3b3b3;
  color: #fff;
}
